asn1crypto==0.24.0
certifi==2019.9.11
chardet==3.0.4
cryptography==2.1.4
enum34==1.1.6
idna==2.8
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pycrypto==2.6.1
pyTelegramBotAPI==3.6.6
pyxdg==0.26
requests==2.22.0
SecretStorage==2.3.1
six==1.13.0
telebot==0.0.3
urllib3==1.25.7
virtualenv==16.7.7
